.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.name {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  padding: 0;
  margin: 10px;
  font-weight: bold;
  color: #00277e;
}

a:visited {
  color: #00277e;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  color: #00277e;
}

.menu {
  font-size: 15px;
  color: #00277e;
}

.content {
  width: 100%;
  margin-top: 60px;
  position: relative;
}

img {
  width: 700px;
}

.img {
  position: absolute;
  right: 0;
}

.catchCopy {
  width: 65%;
  font-size: 50px;
  border-bottom: 150px solid #00277e;
  position: absolute;
  top: 350px;
}
